@model CopyUserIndexVM

@{
    <partial name="_ValidationScriptsPartial" />
}

<div class="modal-header">
    <h5 class="modal-title text-info">@Model.PageTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    @if (Model == null || Model.Copies.Count == 0)
    {
        <h6 class="w-100 text-center">@Model.TargetedUserName does not own any book.</h6>
    }
    else
    {
        @foreach (var copy in Model.Copies)
        {<div class="p-4 mt-4 mb-4" style="box-shadow: 0px 0px 0.5em black; border-radius: 1em;">
                <div class="edition-details-first">
                    <div>
                        <img src=@copy.Edition.Cover class="edition-details-image2 mt-2 mb-2" style="max-height:12em" />
                    </div>
                    <div style="min-width:18em;">
                        <ul style="padding-left:1em;">
                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>Title</span>
                                </div>
                                <div class="edition-details-about-item-value">
                                    @copy.Edition.Book.Title
                                </div>
                            </li>
                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>Author(s)</span>
                                </div>
                                <div class="edition-details-about-item-value">
                                    @for (var i = 0; i < @copy.Edition.Book.Authors.Count; i++)
                                    {
                                        @copy.Edition.Book.Authors[i].Name<br />
                                    }
                                </div>
                            </li>
                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>Editor</span>
                                </div>
                                <div class="edition-details-about-item-value">
                                    @copy.Edition.Editor
                                </div>
                            </li>
                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>ISBN</span>
                                </div>
                                <div id="Edition_ISBN13" class="edition-details-about-item-value">
                                    @copy.Edition.ISBN13
                                </div>
                            </li>

                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>Published Date</span>
                                </div>
                                <div class="edition-details-about-item-value">
                                    @copy.Edition.publishedDate
                                </div>
                            </li>
                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>Language</span>
                                </div>
                                <div class="edition-details-about-item-value">
                                    @copy.Edition.Language
                                </div>
                            </li>
                            <li class="edition-details-about-item">
                                <div class="edition-details-about-item-name">
                                    <span>Page Count</span>
                                </div>
                                <div class="edition-details-about-item-value">
                                    @copy.Edition.pageCount
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="copy-details-cont">
                    <div>
                        <div class="copy-details-about-item-cont"><div class="copy-details-about-item-name">Condition </div><span>@copy.Condition</span></div>
                        <div class="copy-details-about-item-cont">
                            <div class="copy-details-about-item-name">Status </div> @if (copy.Avalaible == true)
                            {
                                <span>available</span>
                            }
                            else
                            {
                                <span>not available</span>
                            }
                        </div>
                        <div class="copy-details-about-item-cont"><div class="copy-details-about-item-name">Owner </div><span>@copy.Owner.UserName</span></div>
                        <div class="copy-details-about-item-cont">
                            <div class="copy-details-about-item-name">Owner's credit </div><span class="Stars" style="--rating: @copy.Owner.Rating.ToString(" 0.0").Replace(",",".");"></span>
                        </div>
                    </div>
                    <img src=@copy.Visuals class="edition-details-image2 mt-2 mb-2" style="max-height:12em" />
                </div>

                @*@if (copy.Comments != null)
                    {
                        <div class="m-2">
                            <div class="form-group">
                                <h6>Owner Comment : </h6>
                                <div style="max-height:15em; overflow-y:auto;">@copy.Comments</div>
                            </div>
                        </div>
                    }*@
                @if (copy.Pretenders.Count > 0)
                {
                    <div class="m-2">
                        <div class="form-group">
                            <h6>Prentenders : </h6>
                            @foreach (var pretender in copy.Pretenders)
                            {
                                <span>
                                    <a href=""
                                       data-ajax="true"
                                       data-ajax-url="/Copy/_UserIndex?@pretender.UserId"
                                       data-ajax-method="get"
                                       data-ajax-success="replaceAndCallback"
                                       data-ajax-error="onError">@pretender.UserName</a>
                                </span>
                            }
                        </div>
                    </div>
                }

                @if (copy.Pretenders.Where(c => c.UserId == Model.CurrentUserId).FirstOrDefault() == null)
                {
                    <form method="post"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-begin="onBeginTarget('@copy.Id')"
                          data-ajax-success="replaceAndNotif"
                          data-ajax-error="onError"
                          autocomplete="off"
                          enctype="multipart/form-data"
                          data-ajax-url="/Copy/_WishMatch?copyId=@copy.Id&&initialCopyId=@Model.InitialCopyId&&ownerId=@Model.TargetedUserId">
                        @Html.AntiForgeryToken()
                        <div id="@copy.Id" class="form-group row pl-2 pr-2">
                            <input class="btn btn-success w-100" type="submit" value="Add this copy to my wish list" />
                        </div>
                    </form>
                }
                else
                {
                    <form method="post"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-begin="onBeginTarget('@copy.Id')"
                          data-ajax-success="replaceAndCallback"
                          data-ajax-error="onError"
                          autocomplete="off"
                          enctype="multipart/form-data"
                          data-ajax-url="/Copy/_WishCopyRemove?copyId=@copy.Id">
                        @Html.AntiForgeryToken()
                        <div id="@copy.Id" class="form-group row pl-2 pr-2">
                            <input class="btn btn-danger w-100" type="submit" value="Remove this copy to my wish list" />
                        </div>
                    </form>
                }
            </div>
        }
    }

</div>
<div class="modal-footer">
    <a href=""
       data-ajax="true"
       data-ajax-url=@Model.Callback
       data-ajax-method="get"
       @*data-ajax-begin="onBegin"*@
       data-ajax-success="replaceContent"
       data-ajax-error="onError"
       class="btn btn-success">
        Back
    </a>
</div>



